/*
- #FCA424
- #0DD39D
- #1A1A1A
- #CDCDCD
- #FEFEFE
*/
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  /* width: 100%; */
  /* max-width: 1200px; */
  /* margin: 3.2rem auto; */
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.grid {
  display: grid;
}

.grid-col-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-col-2-min {
  grid-template-columns: 100px 1fr;
}
.grid-col-custom-2 {
  grid-template-columns: 31.5rem 1fr;
}
.grid-col-3 {
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem;
}

.flex-center {
  display: flex;
  gap: 0.6rem;
  align-items: center;
  justify-content: center;
}

.margin-bottom-md {
  margin-bottom: 3.2rem;
}

.btn {
  font-size: 1.4rem;
  border: none;
  cursor: pointer;
  color: white;
  padding: 0.8rem 1.8rem;
}
.btn-primary {
  background: linear-gradient(rgb(26, 26, 26, 0.287), rgb(26, 26, 26, 0.287));
  border-radius: 7px;
  transition: all 0.2s;
}
.btn-primary:hover {
  background: linear-gradient(rgb(26, 26, 26, 0.387), rgb(26, 26, 26, 0.387));
}

.btn-progress {
  background: #fca424;
  text-transform: uppercase;
  font-weight: 400;
  border-radius: 4px;
  padding: 0.8rem 1.8rem;
  transition: all 0.2s;
}

.btn-progress:hover {
  background: #fca624db;
}

.btn-secondary {
  background: #0dd39d;
  font-weight: 400;
  color: #fefefe;
  border-radius: 4px;
  padding: 0.8rem 1.8rem;
  transition: all 0.2s;
}

.btn-secondary:hover {
  background: rgba(13, 211, 158, 0.842);
}


/****************************************/
/* Header Section */
/****************************************/

.header {
  height: 28rem;
  background-image: linear-gradient(rgba(26, 26, 26, 0.6), rgba(26, 26, 26, 0.6)), url(img/mountain.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2.4rem 4.2rem;
  box-shadow: 0 0 25px 0 rgba(171, 171, 171, 33%);
}

.header-main{
  display: flex;
  justify-content: space-between;
}

.first-part{
  display: flex;
  gap: .4rem;
  font-size: 1.4rem;
  color: #fefefe;
  font-weight: 600;
}

.icon{
  height: 1.75rem;
  width: 1.75rem;
}

.second-part{
  display: flex;
  gap: 2.4rem;
  align-items: center;
}

.notification{
  color: #fefefe;
}

.n-icon{
  width: 2.4rem;
  height: 2.4rem;
  position: relative;
  cursor: pointer;
}

.n-icon::before{
  content: "";
  position: absolute;
  height: .7rem;
  width: .7rem;
  background-color: #fca424;
  border-radius: 50%;
  z-index: 12;
  top: .5rem;
  right: .3rem;
}

.user-logo{
  width: 2.8rem;
  height: 2.8rem;
}

.u-l{
  width: 100%;
  height: 100%;
  border-radius: 15%;
  transition: all .2s;
}

.u-l:hover{
  transform: scale(1.1);
}

/****************************************/
/* Profile Section */
/****************************************/

.profile{
  margin-top: 4.2rem;
  display: flex;
  justify-content: space-between;
}

.profile-section{
  width: 64rem;
  position: relative;
}

.profile-photo{
  height: 22rem;
  width: 22rem;
  position: absolute;
  background: url(img/main-user.jpg);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
  background-size: cover;
  border-radius: 3px;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
}

.profile-info{
  width: 55%;
  display: flex;
  flex-direction: column;
  color: #fefefe;
  transform: translate(25rem, 0);
  gap: 1rem;
}

.heading-primary{
  font-weight: 500;
  font-size: 2.4rem;
  letter-spacing: 1px;
}

.info{
  display: flex;
  font-size: 1.2rem;
}

/****************************************/
/* Progress Section */
/****************************************/

.progress-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-end;
}

.profile-progress {
  padding: 2.4rem 3.2rem;
  display: flex;
  height: fit-content;
  gap: 1.8rem;
  border-radius: 5px;
  background: linear-gradient(rgb(254, 254, 254, 0.2), rgb(254, 254, 254, 0.2));
  margin-top: -.5rem;
}

.progress {
  width: 8.2rem;
  height: 8.2rem;
  border-radius: 50px;
  padding: 1.2rem;
  background-color: transparent;
  border: 4px solid #fca424;
  border-top-color: rgb(254, 254, 254, 0.2);
  transform: rotate(45deg);
}

.progress-min {
  width: 5.2rem;
  height: 5.2rem;
  border-radius: 50px;

  padding: 1.2rem;
  background: linear-gradient(rgb(254, 254, 254, 0.2), rgb(254, 254, 254, 0.2));
  transform: rotate(-45deg);
}

.progress-info {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.progress-text {
  font-size: 1.4rem;
  color: #fefefe;
  font-weight: 500;
}

.pih{
  color: #c3c3c3;
}

.progress-title {
  font-size: 1.6rem;
  font-weight: 500;
  color: #fefefe;
}
.progress-title-sm {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1rem;
  color: #dedede;
}

.camara-icon-sec{
  background: linear-gradient(rgb(254, 254, 254, 0.2), rgb(254, 254, 254, 0.2));
  height: 3rem;
  width: 3rem;
  color: #fefefe;
  display: flex;
  align-items: center;
  justify-content: center;
}

.camara-icon{
  height: 1.8rem;
  width: 1.8rem;
}

/****************************************/
/* Main Section */
/****************************************/

.main-section{
  box-shadow: 0 0 25px 0 rgb(171 171 171 / 33%);
  overflow: hidden;
}


/*******************************/
/** Family section **/
/*******************************/

.family{
  padding: 4.2rem;
  border-right: 1px solid rgba(205, 205, 205, 0.456);
  border-bottom-left-radius: 7px;
}

.family-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2.2rem 0;
  text-transform: uppercase;
  padding-bottom: 1.6rem;
  border-bottom: 1px solid rgba(205, 205, 205, 0.456);
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.family-title img{
  width: 1.5rem;
}

.family-title span{
  font-size: 2rem;
  margin-top: -1rem;
  color: #999;
}

.family-person-title{
  color: #cdcdcd;
  font-weight: 400;
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
}

.family-person-img{
  display: flex;
  gap: 1.4rem;
  margin-bottom: 2.5rem;
}

.multi-img{
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  }

.myself{
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.my-heading{
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: .5rem;
  color: #cdcdcd;
  text-transform: uppercase;
}

.my-title{
  font-size: 1.2rem;
}

/*******************************/
/** Nagigation section **/
/*******************************/

.nav {
  display: flex;
  border-bottom: 1px solid rgba(205, 205, 205, 0.456);
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 4rem;
}

.nav-items {
  cursor: pointer;
  font-size: 1.7rem;
  padding: 2rem 0;
  text-transform: uppercase;
  font-weight: 400;
  color: #cdcdcd;
  transition: all 0.2s;
}
.nav-items:first-child {
  color: #1a1a1a;
  border-bottom: 3px solid #fca424;
  border-width: .2rem;
  margin-left: 1.8rem;
}

.nav-items:hover {
  color: #1a1a1a86;
  border-bottom: 3px solid #fca424;
  border-width: .2rem;
}

.nav-buttom {
  margin-left: auto;
  padding-right: 4.5rem;
}

.nav-btn-icon {
  transform: rotate(-45deg);
}

/*******************************/
/** Claims Detail section **/
/*******************************/

.claims-detais {
  padding: 3.6rem 4.5rem 3.6rem 1.8rem ;
}

.claim-detail {
  padding-left: 1.8rem;
}

.claims {
  padding: 2.4rem 1.2rem;
  display: flex;
  opacity: 0.9;
}

.claims .number {
  font-size: 5.8rem;
  font-weight: 300;
  padding: 0 1.8rem 0;
  border-right: 1px solid #cdcdcd;
}

.claim-title {
  font-size: 1.5rem;
  margin-bottom: 1.6rem;
  text-transform: uppercase;
  color: #a3a3a3;
}

.claim-gallery {
  display: flex;
}

.claim-img {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 25px;
  border: 2px solid #fefefe;
  color: #fefefe;
  font-weight: 600;
  cursor: pointer;
  object-fit: cover;
}

.claim-custom-img {
  background: linear-gradient(
      rgba(13, 211, 158, 0.368),
      rgba(13, 211, 158, 0.368)
    ),
    url(../img/w-1.jpg);
  background-size: cover;
  object-fit: cover;
}

/* .claim-img:hover {
  z-index: 12;
  transition: all 0.2s;
} */

.claim-img:nth-child(2) {
  transform: translate(-10px, 0);
}
.claim-img:nth-child(3) {
  transform: translate(-20px, 0);
}
.claim-img:nth-child(4) {
  transform: translate(-30px, 0);
}

.child,
.child-profile {
  border-radius: 7px;
  box-shadow: 0 0 15px -4px #e8e8e8;
}

.child-profile{
  /* margin-bottom: 2rem; */
}

.child-profile:nth-child(1) {
  grid-column: 1/3;
}
.child-profile:nth-child(2) {
  grid-column: 1/3;
}

.child-profile:nth-child(3) {
  grid-column: 1/3;
}
.child-profile:nth-child(4) {
  grid-column: 3;
  grid-row: 1/4;
}

.child-profile {
  padding: 1.4rem;
  position: relative;
}

.child-per-img img {
  height: 10rem;
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.child-profile-details {
  padding: 0 1.2rem;
}

.profile-name {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 1.2rem;
}
.p-i {
  transform: translate(0);
  color: black;
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.p-i .p-i-h {
  color: #a3a3a3;
  font-weight: 500;
}

.p-i .p-i-t {
  color: #c3c3c3;
}

.profile-info-icon {
  color: #a3a3a3;
  margin-right: 0.6rem;
  height: 1.4rem;
  width: 1.4rem;
}

.position-btn {
  position: absolute;
  right: 1.4rem;
  bottom: 1.4rem;
}

.last-child{
  row-gap: 0;
  height: 47rem;
}

.last-child:nth-child(2){
    grid-column: 3;
    grid-row: 1/2;
}

.activity-schedule-profile{
  display: flex;
  flex-direction: column;
  grid-column: 1/3;
  gap: 1.4rem;
  max-height: 45rem;
  width: 100%;
  position: relative;
  overflow-y: auto;
  scrollbar-width: thin;
  box-shadow: 0 0 15px -4px #e8e8e8;
}

.activity-schedule-profile::-webkit-scrollbar {
  width: 7px;
}
.activity-schedule-profile::-webkit-scrollbar-track {
  background: white;
  border-radius: 6px;
}

.activity-schedule-profile::-webkit-scrollbar-thumb {
  background: #fca424;
  border-radius: 6px;
}


.activity-section {
  padding: 2rem;
  height: 45rem;
  box-shadow: 0 0 15px -4px #e8e8e8;
}

.activity {
  display: block;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #a3a3a3;
  padding-bottom: 1.2rem;
  border-bottom: 1px solid #cdcdcd;
  margin-bottom: 1.6rem;
}

.activity-schedule {
  /* padding: 2rem; */
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  max-height: 35rem;
  position: relative;
  overflow-y: auto;
  scrollbar-width: thin;
}
.activity-schedule::-webkit-scrollbar {
  width: 7px;
}
.activity-schedule::-webkit-scrollbar-track {
  background: white;
  border-radius: 6px;
}

.activity-schedule::-webkit-scrollbar-thumb {
  background: #fca424;
  border-radius: 6px;
}

.activity-list {
  display: flex;
  gap: 1.2em;
  align-items: baseline;
  padding: 0 0.6rem;
}

.avtivity-dot {
  width: 8px;
  height: 8px;
  background-color: blue;
  box-shadow: 0 0 5px 0 blue;
  border-radius: 50%;
  position: relative;
}
.green {
  background-color: green;
  box-shadow: 0 0 5px 0 green;
}
.yellow {
  background-color: yellow;
  box-shadow: 0 0 5px 0 yellow;
}

.avtivity-dot::before {
  position: absolute;
  height: 7.8rem;
  background-color: #dedede;
  width: 0.8px;
  content: "";
  top: 9px;
  left: 3.2px;
}

.activity-details {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.avtivity-detail-title {
  font-size: 1.4rem;
  font-weight: 600;
}
.activity-detail-desc {
  font-size: 1.2rem;
  color: #a3a3a3;
}
.activity-time {
  color: #cdcdcd;
  font-size: 1.2rem;
}